img{
  width: 25em;
}

ul{
  list-style-type: square;
}

ol{
  list-style-type: upper-latin;
}

/*p{
  text-align: justify;
}*/

.vasenylä{
  float: left;
}

.oikee{
  float: right;
  margin: 0;
}

@media(max-width: 640px){
  .oikee{
    float: initial;
    width: 100%;
    height: auto;
  }
}



.blockquote{
  width: 300px;
  font-size: 1.25em;
  float: right;
  border-left: 15px #770000 solid;
  padding: 0.5em 1em;
  color: #AAFFFF;
  margin: 1em;
  background-color: #000033;
}

/*.box1{
  width: 30vw;
  height: 50vh;
  background-image: linear-gradient(10deg, red -10px, gold, blue);
}*/

.box2{
  margin: 25px 10px 10px 10px;
  border: 5px black solid;
  width: 600px;

}

.fifth1{
  background-color: #AAFFFF;
  height: 10vh;
}
.fifth2{
  background-color: #770000;
  height: 25vh;
}
.fifth3{
  background-color: #000033;
  height: 35vh;
}
nav span.title{
  font-size: 3em;
  color: gold;
  transition: 1s ease;
}
@media(max-width: 470px){
  nav span.title{
    font-size: 2em;
  }
}
@media(min-width: 900px){
  nav span.title{
    font-size: 6em;
  }
}

.keski1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  padding: 150px 0 0 0;
}

.fa-car{
  color: red;
}